version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: simpesa-db-local
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: simpesa
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: simpesa-redis-local
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
